<<<<<<< HEAD
body{
	background-color: pink;
	text-align: center;
	color: black;
	font-family: sans-serif;
}
h1{
	text-align: center;
}
h2{
	text-align: center;
}
.links a:link, .links a:visited{
	background-color: white;
	padding: 14px 25px;
	text-align: center;
	text-decoration: none;
	display: inline-block;

}
.links a:hover, .links a:active{
	background-color: lightblue;
}
.line{
	border: 0.5px solid black;
}
section{
	font-size: 22px;
    font-style: italic;
}
@media screen and (max-width: 900px){
	.column{
		width: 50%;
	}
	
}
@media screen and (max-width: 600px){
	.column{
		width: 100%;
	}
=======
body{
	background-color: pink;
	text-align: center;
	color: black;
	font-family: sans-serif;
}
h1{
	text-align: center;
}
h2{
	text-align: center;
}
.links a:link, .links a:visited{
	background-color: white;
	padding: 14px 25px;
	text-align: center;
	text-decoration: none;
	display: inline-block;

}
.links a:hover, .links a:active{
	background-color: lightblue;
}
.line{
	border: 0.5px solid black;
}
section{
	font-size: 22px;
    font-style: italic;
}
@media screen and (max-width: 900px){
	.column{
		width: 50%;
	}
	
}
@media screen and (max-width: 600px){
	.column{
		width: 100%;
	}
>>>>>>> a4ab5539ad3479323181421aef7f8657cc5ca94d
}